@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Shared Styles */
.font-bold {
  font-weight: bold;
}

/* Latest Deal Section Styles */

/* Trust Badge Aimation Styles */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.trusted-badge:hover {
  filter: drop-shadow(0 0 #0000);
  animation: spin 2s linear infinite;
}

/* Mobile Screen Responsive */
@media screen and (max-width: 393px) {

  nav,
  .plants-section {
    margin: auto 16px;
  }

  .nav-links {
    display: none;
  }

  .nav-bar {
    margin: auto 16px;
  }

  .logo {
    width: 63px;
  }

  .banner {
    flex-direction: column-reverse;
  }

  .banner-image {
    max-width: 100%;
    margin: 28px auto;
  }

  .banner-content {
    margin-bottom: 65px;
    margin: auto 16px;
  }

  .section-title {
    font-size: 1.5rem;
  }

  .section-description {
    font-size: .875rem;
  }

  .card-container {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 0;
    margin-bottom: 41.5px;
  }

  .plants-content {
    margin-bottom: 28px;
  }

  .plants-section-title,
  .deal-title {
    margin-bottom: 16px;
  }

  .card-item,
  .card-button {
    width: 100%;
  }

  .card-button {
    padding: 19px 30.5px;
    white-space: nowrap;
    height: 50px;
    display: flex;
    align-items: center;
  }

  .card-title,
  .card-price {
    font-size: 16px;
  }

  .trusted-badge {
    display: none;
  }

  .plants-lover-section {
    max-width: 393px;
    margin: auto 16px;
    margin-bottom: 140px;
  }

  .plant-lover {
    flex-direction: column;
  }

  .plant-lover-image {
    max-width: calc(393px - 32px)
  }

  .latest-deal-section{
    margin-bottom: 45px;
  }

  .deal-grid {
    grid-template-columns: repeat(1, 1fr);
    max-width: 361px;
    height: 581px;
    margin: auto 16px;
  }
  

  .deal-title {
    font-size: 20px;
    margin-bottom: 19px;
  }

  .deal-description {
    font-size: 16px;
  }

  .zabo-bg {
    grid-column: span 1;
    grid-row: span 1;
  }

  .join-section {
    max-width: 100%;
    padding: 87.5px 36px;
  }

  .email-form {
    width: 218px;
  }

  .btn-subscribe {
    width: 103px;
    padding: 19px 12px;
  }

  footer {
    margin: 50px 16px;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }

  .logo-footer {
    width: 160px;
  }

  .footer-logo-description {
    font-size: 16px;
  }

  .footer-link-container,
  .social-link-container {
    justify-content: start;
  }

  .footer-links {
    grid-template-columns: repeat(1, 1fr);
  }

}